
/* navbar styling */
header{
    position: sticky;
    top: 0;
    z-index: 2;
}

nav{
    background: #000030;
    border-radius: 20px 20px 0 0;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    height:auto;
    
}
/* navlinks */
.logo{
    font-weight: bold;
    font-size:25px ;
    color: #fff;
}

.navLinks ul li{
    display: inline-flex; 
    margin-left: 30px;
    margin-top: 15px;
}
.navLinks ul li a{
    text-decoration: none ;
    color: white;
}
.navLinks ul li a:hover{
    color: #00ffe5;
}
.shop ul li{
    display: inline-flex;
    margin-left: 20px;
}
.shop ul li a{
    text-decoration: none;
    color: white;
    border: solid 1px white;
    padding: 10px;
    border-radius: 5px;
}
.shop ul li a:hover{
    color: #003827;
    border: solid 1px white;
    background-color: white;
    border-radius: 5px;
}

.hero{
    background-color: #f8f8f8;
    overflow: hidden;
}
.heading h1{
    color: #ff6347;
    font-size: 55px;
    text-align: center;
    margin-top: 35PX;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}
.hero-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    animation: fadeInUp 2s ease;

}
.hero-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
}
.hero-content p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;

}
.hero-content button{
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;

}
.hero-content button :hover{
    background-color: #ff6347;
    transform: scale(1.1);
}
.hero-image{
    flex: 1;
    width: 600px;
    margin: auto;
    animation: fadeInRight 2s ease;
}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;

}

@media screen and (max-width:768px){
    .heading h1{
        font-size: 45px;
        margin-top: 30px;

    }
    .hero{
        margin: 0px;

    }
    .container{
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;

    }
    .hero-content{
        width: 100%;
        margin: 35px 0px;

    }
    .hero-content h2{
        font-size: 18px;
        margin-bottom: 20px;


    }
    .hero-content button{
        font-size: 16px;
        padding: 8px 16px;

    }
    .hero-image{
        width: 100%;

    }

    
}
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(50px);
    }
}
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity:1;
        transform: translateX(50px);
    }
}