/* navbar styling */
body {
  background-color: black;
}
header {
  position: sticky;
  top: 0;
  z-index: 2;
}

nav {
  background: #000030;
  border-radius: 20px 20px 0 0;
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: auto;
}
/* navlinks */
.logo {
  font-weight: bold;
  font-size: 25px;
  color: #fff;
}

.navLinks ul li {
  display: inline-flex;
  margin-left: 30px;
  margin-top: 15px;
}
.navLinks ul li a {
  text-decoration: none;
  color: white;
}
.navLinks ul li a:hover {
  color: #00ffe5;
}
.shop ul li {
  display: inline-flex;
  margin-left: 20px;
}
.shop ul li a {
  text-decoration: none;
  color: white;
  border: solid 1px white;
  padding: 10px;
  border-radius: 5px;
}
.shop ul li a:hover {
  color: #003827;
  border: solid 1px white;
  background-color: white;
  border-radius: 5px;
}
/* About-Us styling Section */
/* About-Us styling Section */
/* About-Us styling Section */
/* About-Us styling Section */

.hero {
  overflow: hidden;
  background-color: #ffffff;
}
.heading h1 {
  color: #ff0000;
  font-size: 55px;
  text-align: center;
  margin-top: 35px;
  text-shadow: 1px 1px 1px #00027e;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 65px auto;
}
.hero-content {
  flex: 1;
  width: 600px;
  margin: 0px 25px;
  animation: fadeInUp 2s ease;
}
.hero-content h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #333;
  text-shadow: 1px 1px 1px #ffffff;
}
.hero-content p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero-content button {
  display: inline-block;
  background-color: #ff0000;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.hero-content button:hover {
  background-color: #c50000;
  transform: scale(1.1);
  color: white;
}
.hero-image {
  flex: 1;
  width: 600px;
  margin: auto;
  animation: fadeInRight 2s ease;
}
img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .heading h1 {
    font-size: 45px;
    margin-top: 30px;
  }
  .hero {
    margin: 0px;
  }
  .container {
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px 40px;
  }
  .hero-content {
    width: 100%;
    margin: 35px 0px;
  }
  .hero-content h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .hero-content button {
    font-size: 16px;
    padding: 8px 16px;
  }
  .hero-image {
    width: 100%;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(50px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(50px);
  }
}
/* Description Styling */
/* Description Styling */
/* Description Styling */
/* Description Styling */

.description {
  background-color: #e6b2b2;
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px 0;
}
video {
  height: 400px;
  width: 600px;
}
.description .right {
  width: 600px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 30px;
  color: black;
  text-align: left;
}
.description .right h2 {
  color: #333;
  text-shadow: 1px 1px 1px #00027e;
}
.description .right button {
  display: inline-block;
  background-color: #ff0000;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  margin-left: 100px;
}
.description .right button:hover {
  background-color: #770101;
}
/* Status styling section */
/* Status styling section */
/* Status styling section */
/* Status styling section */

.statsContainer {
  display: flex;
  justify-content: end;
  color: white;
  padding: 40px 0;
  background-image: url(images//about3.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.statsContainer .stats {
  margin-right: 50px;
}
.h3 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.statsContainer h3 {
  font-size: 30px;
  width: 400px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 1px black;
}
.statsInner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* statistics aligned on the left */
/* statistics aligned on the left */
/* statistics aligned on the left */
/* statistics aligned on the left */

.alignerLeft {
  line-height: 30px;
  padding: 20px;
  margin-right: 30px;
}
.alignerRight {
  padding: 27px 20px;
}
.alignerLeft .top {
  font-weight: bold;
}
.alignerLeft .number {
  font-weight: bold;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  font-size: 35px;
  color: yellow;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.alignerLeft .bottom {
  font-weight: bold;
}
/* statistics aligned on the right */
/* statistics aligned on the right */
/* statistics aligned on the right */
/* statistics aligned on the right */
/* statistics aligned on the right */

.alignerRight {
  line-height: 30px;
  padding: 20px;
  margin-left: 30px;
}
.alignerRight {
  padding: 27px 20px;
}
.alignerRight .top {
  font-weight: bold;
}
.alignerRight .number {
  font-weight: bold;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  font-size: 35px;
  color: yellow;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.alignerRight .bottom {
  font-weight: bold;
}
.alignerRight .status {
  font-weight: bold;
  text-align: right;
  padding-top: 0;
  margin-top: -30px;
  color: #15ff00;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}